<?xml version="1.0" encoding="utf-8" ?>
<tinymceConfig>
    <commands>
        <!--new one-->
        <command>
            <command>
                <umbracoAlias>umbracodictionary</umbracoAlias>
                <icon>images/editor/media.gif</icon>
                <tinyMceCommand value="" userInterface="true" frontendCommand="umbdictionary">umbdictionary</tinyMceCommand>
                <priority>76</priority>
            </command>
        </command>
        <plugins>
            <!--new one-->
            <plugin loadOnFrontend="true">umbdictionary</plugin>
        </plugins>
    </commands>
</tinymceConfig>